<tr>
  <td>
		<% if book.cover %>
			<%= link_to [image_tag book.cover.public_filename, {:style => 'height: 164px; width: 123px;'}], book_url(book) %>
		<% else %>
			<%= link_to [image_tag book.image, {:style => 'height: 164px; width: 123px;'}], book_url(book) %>
		<% end %>
	</td>
  <td style="vertical-alignment: top;" valign="top">
			<h3><%= link_to book.title, book_url(book) %></h3>
			<p class="current_author">by <%= h book.author %></p>
			<p class="current_blurb"><%= book.blurb %></p>
			<%= render :partial => 'admin_actions',  :locals => { :book => book } %>
	</td>
</tr>
