  <td class="finished_book_cover">
		<%= link_to show_cover(book,'small'), seo_url(book) %>	
	</td>
  <td class="finished_book_description">
			<%= link_to book.title, seo_url(book) %><br/>
			by <%= h book.author %><br/>
			<% if book.days_taken %> finished in <b><%= h book.days_taken %></b> days<% end %>
			<% if book.rate %>
				<%= show_rating(book.rate,"web") %>
			<% end %>
			<%= render :partial => 'admin_actions',  :locals => { :book => book } %>
	</td>
<% if @current_item >= 2 %>
  </tr><tr>
	<% @current_item = 0 %>
<% else %>
	<% @current_item += 1 %>
<% end %>