<h1>Editing book</h1>
<%= error_messages_for :book %>

<% form_for(:book, :url => book_path(@book), :html => {:multipart => true, :method => :put }) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Url</b><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <b>Author</b><br />
    <%= f.text_field :author %>
  </p>

  <p>
    <b>Blurb</b><br />
    <%= f.text_area :blurb %>
  </p>

	<hr>
	
  <p>
    <b>Image</b><br />
    <%= f.text_field :image %>
  </p>


	<p style="margin-left: 50px;">
		<em>or</em>
	</p>

	<p><b>Cover</b><br/>
		<%= file_field :cover, :uploaded_data %>
	</p>

	<hr>


  <p>
    <b>Status</b><br />
    <i><%= @book.state %></i>
  </p>
	
  <p>
    <b>Change Status</b><br />
    <%= f.select :new_status, Book::STATUSES %>
  </p>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', book_path(@book) %> |
<%= link_to 'Back', books_path %>