<%= render :partial => 'logo' %>

<div id="container">
	<% if @current && @current.size > 0%>
		<h1>Current Books</h1>
		<table border="0" id="current">	 
			<% for book in @current %>
				<%= render :partial => 'current_book', :locals => { :book => book } %>
			<% end %>
			</table>
		<br />
	<% end %>

	<% if @next && @next.size > 0 %>
	<% @current_item = 0 %>
		<hr>
		<h1>Next Books</h1>
		<table border="0">	
			<tr>
			<% for book in @next %>
				<%= render :partial => 'single_book', :locals => { :book => book }	%>
				<% end %>
		</table>
		<br/>
	<% end %>

	<% if @finished && @finished.size > 0%>
	<hr>	
	<% @current_item = 0 %> 
	<h1>Finished Books</h1>
	<table border="0" cellspacing="0" cellpading="0">
		<tr>
		<% for book in @finished %>
			<%= render :partial => 'finished_book', :locals => { :book => book }	%>
		<% end %>
	</table>
	<% end %>

  <% if @finished && @finished.size > 0%>	
    	<hr>
    	<h1>Pages read</h1>
    	<% reports =  Book.pages_by_year.reverse %>
    	<% if reports.size > 1 %>
      	<small>
          <%= link_to_function "past years", "$('#past').slideDown(); $('#more_info').hide(); $('#less_info').show()", {:id => "more_info", :style => "float: right; margin-top: -35px;"} %>
          <%= link_to_function "current year", "$('#past').slideUp();   $('#less_info').hide(); $('#more_info').show()", {:id => "less_info", :style => "float: right; margin-top: -35px; display:none;"} %>
      	</small>
    	
    	<div id="graph" class="graph">&nbsp;</div>
  	  <%= pages_graphic(reports.first[:items],"graph") %>
  	  
  	  <div id="past" style="display:none;">
    	<% reports.each_with_index do |report,i| %>    	
    	  <% next if report == reports.first %>
    	  <div id="graph<%= i %>" class="graph">&nbsp;</div>
    	  <%= pages_graphic(report[:items],"graph"+i.to_s) %>
    	<% end %>
    	</div>
    	
    <% end %>
  <% end %>
  	
	<hr>
	<table border="0" class="stats">
		<tr>
			<th>Finished Books</th>
			<th>Next Books</th>
		</tr>
		<tr>
			<td style="text-align: center; width: 300px;"><h1><%= @finished.size %></h1></td>
			<td style="text-align: center; width: 300px;"><h1><%= @next.size %></h1></td>
		</tr>
	</table>
	
</div>


	
<style type="text/css" media="screen">
	table {width: 600px;}
	td		{padding: 10px;}
	.graph img {border: 0px;}
	.graph {text-align: center;}
</style>
