<style type="text/css" media="screen">
	.form {width: 470px;}
</style>
<div class="form">
<h1>New book</h1>
<hr/>
<%= error_messages_for :book %>

<% form_for(:book, :url => books_path, :html => {:multipart => true}) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Url</b><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <b>Author</b><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <b>Blurb</b><br />
    <%= f.text_area :blurb %>
  </p>

	<h3>Cover</h3>
	<hr/>
  <p>
    <b>Image</b><br />
    <%= f.text_field :image %>
  </p>

	<p>
		or
	</p>

	<p><b>Cover</b><br/>
		<%= file_field :cover,:uploaded_data %>
	</p>
	
	<hr/>


  <p>
    <%= submit_tag "Create", {:class => 'button'} %>&nbsp;&nbsp;or&nbsp;&nbsp;<%= link_to 'Cancel', books_path %>
  </p>
<% end %>
</div>