<div id="container">
<table border="0" id="current">  
	<tr>
	  <td valign="top" style="padding-top: 20px; width: 150px;">
  		<div>
  		  <small><%= link_to 'return to index', books_path %></small>
  		</div>
  		<div style="margin-top:10px;">
  		  <%=  show_cover(@book,'original')  %>
  		</div>
		</td>
	  <td style="vertical-alignment: top;" valign="top">
				<h3 style="margin-top:35px;">
					<%= link_to @book.title, @book.url %>
				</h3>
				<p class="current_author">
					by <%= h @book.author %>
				  <%= "<em><br/>#{@book.pages} pages</em>" if @book.pages %>
					<h3><% if @book.rate %><%= show_rating(@book.rate,"web") %><% end %></h3>
					<small style="color: #76614e;">
							<% if logged_in? %>
								<%= link_to 'Edit', edit_book_path(@book) %> 
								<small style="color: #76614e;">&nbsp;|&nbsp;</small>
								<%= link_to 'Destroy', book_path(@book), :confirm => 'Are you sure?', :method => :delete %>
							<% end %>
					</small>
					
				</p>
				<p class="current_blurb"><%= simple_format(@book.blurb) %></p>
				<p><% if @book.days_taken %> Finished in <b><%= h @book.days_taken %></b> days<% end %></p>
		</td>
	</tr>
</table>


<% if @book.review %>
<div id="review" style="margin-top:5px; margin-bottom: 45px;">
        <h1>Review</h1>
        <hr>
        <p class="current_blurb" style="font-size: 12px;"><%= simple_format(@book.review) %></p>
</div>
<% end %>

<% if @book.related_books && @book.related_books.size > 0 %>
<div id="related" style="margin-top: 5px;">
<h1>Related Books</h1>
<hr>
<% @current_item = 0 %>
<table border="0">
        <tr>
        <% for book in @book.related_books %>
                <%= render :partial => 'finished_book', :locals => { :book => book }  %>
         <% end %>
</table>
</div>
<% end %>
</div>

<style type="text/css" media="screen">
	table {width: 600px;}
	td    {padding: 10px;}
</style>
