<div id="container">
<table border="0" id="current">  
	<tr>
	  <td valign="top" style="padding-top: 25px;">
			<% if @book.cover %>
				<%= image_tag @book.cover.public_filename, {:style => 'height: 246px; width: 184px;'} %>
			<% else %>
				<%= image_tag @book.image, {:style => 'height: 246px; width: 184px;'} %>
			<% end %>
		</td>
	  <td style="vertical-alignment: top;" valign="top">
				<h3>
					<%= link_to @book.title, @book.url %>
					<small style="color: #76614e;">
							<% if logged_in? %>
								&raquo;
								<%= link_to 'Edit', edit_book_path(@book) %> 
								<small style="color: #76614e;">&nbsp;|&nbsp;</small>
								<%= link_to 'Destroy', book_path(@book), :confirm => 'Are you sure?', :method => :delete %>
							<% end %>
					</small>
				</h3>
				<p class="current_author">
					by <%= h @book.author %>					
					<h3><% if @book.rate %><%= show_rating(@book.rate) %><% end %></h3>
				</p>
				<p class="current_blurb"><%= @book.blurb %></p>
				<p><% if @book.days_taken %> Finished in <b><%= h @book.days_taken %></b> days<% end %></p>
				<p><%= link_to 'Back', books_path %></p>
		</td>
	</tr>
</table>				
</div>