<style type="text/css" media="screen">
	table {width: 600px;}
	td    {padding: 10px;}
	#review {margin-top: -30px;}
</style>


<div id="container">
<table border="0" id="current">  
	<tr>
	  <td valign="top" style="padding-top: 25px; width: 150px;">
		<%= link_to show_cover(@book,'original'), book_url(@book) %>	
		</td>
	  <td style="vertical-alignment: top;" valign="top">
				<h3>
					<%= link_to @book.title, @book.url %>
					<small style="color: #76614e;">
							<% if logged_in? %>
								&raquo;
								<%= link_to 'Edit', edit_book_path(@book) %> 
								<small style="color: #76614e;">&nbsp;|&nbsp;</small>
								<%= link_to 'Destroy', book_path(@book), :confirm => 'Are you sure?', :method => :delete %>
							<% end %>
					</small>
				</h3>
				<p class="current_author">
					by <%= h @book.author %>					
					<h3><% if @book.rate %><%= show_rating(@book.rate) %><% end %></h3>
				</p>
				<p class="current_blurb"><%= @book.blurb %></p>
				<p><% if @book.days_taken %> Finished in <b><%= h @book.days_taken %></b> days<% end %></p>
				<p><%= link_to 'Back', books_path %></p>
		</td>
	</tr>
</table>

<% if @book.review %>
<div id="review">
	<h1>Review</h1>
	<hr>
	<p><%= @book.review.gsub(/\n/,"<br/>") %></p>
</div>
<% end %>

</div>