<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= APP_CONFIG['site_owner'] %>'s book queue</title>
  <%= stylesheet_link_tag 'scaffold' %>
 	<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss"/>
	
	<style type="text/css" media="screen">
		#notice {background-color: #ffffcc; margin: 0 auto; padding: 5px; border: yellow 1px solid; text-align: center; width: 600px; margin-top: 20px;}
	</style>
	
</head>
<body>
<div id="header">
<% if logged_in? %>
	<%= link_to "New Book", new_book_url %> |
	<%= link_to "Logout", session_path,:method => :delete %>
<% else %>
	<%= APP_CONFIG['site_title'] %>
<% end %>
</div>
<% if flash[:notice] %>
<p id="notice">
	<%= flash[:notice] %>
</p>
<% end %>

<%= yield  %>
<div id="footer">&nbsp;</div>
</body>
</html>
